@media (min-width: 992px) {
    .login-container {
      background: linear-gradient(99deg, #ffffff 60%, #E4E6EB 40%);
      width: 100vw;
      height: 100vh;
    }
  }
  
  .page-login {
    height: 100vh;
  }
  .page-login .btn-login {
    background-color: #FF9E53;
    color: #fff;
  }
  .page-login .btn-login:hover {
    color: #fff;
  }
  .page-login .section-left {
    font-family: "Poppins";
    font-weight: bold;
    font-size: 50px;
    text-align: left;
    color: #071C4D;
  }
  .page-login .section-right a {
    font-family: "Assistant";
    font-weight: 300;
    text-decoration: underline;
    font-size: 16px;
    text-align: center;
    color: #bfbfbf;
  }